html {
    height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
    height: 100%;
}

#container-body {
    height: 100%;
}

#row-body {
    height: 100%;
}

.navbar-default {
    background-color: rgb(22, 30, 44);
    border: 0;
    border-radius: 0;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
    height: 100%
}

#leftmenu {
    margin: 0px;
    padding: 0px;
    width: 100% !important;
    height: 100%;
}

#leftside-menu {
    position: fixed;
    padding: 0;
    height: 100%;
    /*left: -260px;*/
}

#container-leftmenu {
    height: 100%;
    padding: 0;
}

#leftmenu-ul {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#leftmenu-ul a {
    color: #ECECEC;
}

#leftmenu-ul > ul > li > a:focus, #leftmenu-ul > ul > li > a:hover {
    background-color: rgb(249, 112, 112);
}

#welcome {
    padding: 10px 0px 15px 15px;
    background-color: rgba(0, 0, 0, 0.32);
    color: #ECECEC;
}

.login-box {
	position: fixed;
	width: 250px;
	height: 250px;
	left: 50%;
	top: 35%;
	margin-left: -125px;
	background-color: whitesmoke;
	padding: 40px;
	border-radius: 15px;
	box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.7);
    text-align: center;
}

#login-submit {
	display: block;
    width: 100%;
    margin-bottom: 15px;
}

#register-submit {
    width: 100%;
}

#register-form input {
    margin-bottom: 10px;
}

#shadow-popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

#login-form input{
	margin-bottom: 10px;
}

button#send-message {
    margin-top: 10px;
	display: block;
    margin: 0 auto;
    width: 100%;
}

#send-textarea {
    width: 100%;
    max-width: 100%;
}

#pager {
    margin: 50px 0px 0px 0px;
}

#messages-panel {
    margin-top: 20px;
}

#friends-panel {
    background-color: rgb(43, 55, 72);
    color: #ECECEC;
}

#friends-panel > ul {
    list-style: none;
    padding-left: 0;
}

#friends-panel li {
    padding: 10px 0px 10px 40px;
}

#friends-panel li button {
    border: none;
    background-color: transparent;
}

#friends-panel li:hover {
    background-color: #6A778A;
}

.glyphicon {
    float: right;
    margin-right: 10px;
    color: #ECECEC;
}

.panel-footer {
    font-size: 0.9em;
}