html {
    height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
    height: 100%;
}

#container-body {
    height: 100%;
}

#row-body {
    height: 100%;
}

.navbar-default {
    background-color: rgb(22, 30, 44);
    border: 0;
    border-radius: 0;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
    height: 100%
}

#navbar-collapse {
    padding: 0 !important;
    height: 100% !important;
    margin-right: 0 !important;
}

.navbar-header {
    margin-right: 0 !important;
    padding: 0;
}

.navbar-toggle {
    margin-right: 30px;
}

#leftmenu {
    margin: 0px;
    padding: 0px;
    width: 100% !important;
    height: 100%;
}

#leftside-menu {
    position: fixed;
    padding: 0;
    height: 100%;
    /*left: -260px;*/
}

#container-leftmenu {
    height: 100%;
    padding: 0;
}

#leftmenu-ul {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#leftmenu-ul a {
    color: #ECECEC;
}

#leftmenu-ul > ul > li > a:focus, #leftmenu-ul > ul > li > a:hover {
    background-color: rgb(249, 112, 112);
}

#welcome {
    padding: 10px 0px 15px 15px;
    background-color: rgba(0, 0, 0, 0.32);
    color: #ECECEC;
}

.login-box {
	position: fixed;
	width: 250px;
	height: 250px;
	left: 50%;
	top: 35%;
	margin-left: -125px;
	background-color: whitesmoke;
	padding: 40px;
	border-radius: 15px;
	box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.7);
    text-align: center;
}

#login-submit {
	display: block;
    width: 100%;
    margin-bottom: 15px;
}

#register-submit {
    width: 100%;
}

#register-form input {
    margin-bottom: 10px;
}

#shadow-popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

#login-form input{
	margin-bottom: 10px;
}

button#send-message {
    margin-top: 10px;
	display: block;
    margin: 0 auto;
    width: 100%;
}

#send-textarea {
    width: 100%;
    max-width: 100%;
}

.body-scroll {
    width: 80%;
    height: auto;
    position: absolute;
    right: 0;
}

#pager {
    margin: 50px 0px 0px 0px;
}

#messages-panel {
    margin-top: 20px;
}

.panel-heading {
    background-color: #4B97A4 !important;
    color: #F5F5F5 !important;
    font-size: 1.5rem;
    font-weight: 700;
}

.panel-body {
    min-height: 100px;
    font-weight: 400;
}

/* ----------------- Friends menu ----------------- */

#add-friend-button {
    width: 100%;
    background-color: #8E3757;
    border: none;
    border-radius: 0;
}

#add-friend-button:hover {
    background-color: #CC5677;
}

#add-friend-button span {
    float: inherit;
    font-size: 0.7em;
    position: initial;
}

#add-friend-form {
    margin: 0;
}

#friends-panel {
    background-color: rgb(43, 55, 72);
    color: #ECECEC;
}

#friends-panel > ul {
    list-style: none;
    padding-left: 0;
}

#friends-panel li {
    padding: 10px 0px 10px 40px;
}

#friends-panel li button {
    border: none;
    background-color: transparent;
}

#friends-panel li:hover {
    background-color: #6A778A;
}

#friend-add-input {
    width: 100%;
    margin: 0px;
    padding-left: 5px;
    border-radius: 0px;
}

#friend-add-input:focus {
    border-color: #a94442;
}

/* ----------------- Tweets menu ----------------- */

#edit-tweets .modal-dialog {
    width: 80% !important;
}

#modal-tweets .table td:nth-child(1) p {
    width: 600px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#modal-tweets .table td:nth-child(2) {
    width: 150px;
    background-color: #FDFDFD;
}

#modal-tweets .glyphicon {
    float: none;
}

#modal-tweets .glyphicon-remove {
    color: red;
}

#modal-tweets .glyphicon-edit {
    color: #32ccb6;
}

.glyphicon {
    float: right;
    margin-right: 10px;
    color: #ECECEC;
}

.panel-footer {
    font-size: 0.9em;
}

/* ----------------- Account ----------------- */

.borderless > tbody > tr > td, .borderless > tbody > tr > th {
    border: none;
    padding-bottom: 25px;
}

.account-row-title {
    width: 200px;
    font-weight: 500;
}

.row-account-infos p {
    float: left;
}

#account-infos-table .glyphicon {
    color: #32ccb6;
}

/* ----------------- Responsive ----------------- */

@media screen and (max-width: 991px) {
    #leftside-menu {
        position: relative;
        height: auto;
    }

    .body-scroll {
        width: 100%;
    }

    .glyphicon {
        float: left;
        padding-top: 3px;
        margin-left: 10px;
        margin-right: 20px;
    }

    #welcome {
        padding: 10px 0px 15px 20px;
    }

    #friend-add-input {
        padding-left: 20px;
    }
}