html {
    height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
    height: 100%;
}

#container-body {
    height: 100%;
}

#row-body {
    height: 100%;
}

.navbar-default {
    background-color: rgb(22, 30, 44);
    border: 0;
    border-radius: 0;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
    height: 100%
}

#leftmenu {
    margin: 0px;
    padding: 0px;
    width: 100% !important;
    height: 100%;
}

#leftside-menu {
    padding: 0;
    height: 100%;
}

#container-leftmenu {
    height: 100%;
    padding: 0;
}

#leftmenu-ul {
    width: 100%;
    height: 100%;
}

#leftmenu-ul a {
    color: #ECECEC;
}

#leftmenu-ul > ul > li > a:focus, #leftmenu-ul > ul > li > a:hover {
    background-color: rgb(249, 112, 112);
}

.login-box {
	position: fixed;
	width: 250px;
	height: 250px;
	left: 50%;
	top: 35%;
	margin-left: -125px;
	background-color: whitesmoke;
	padding: 40px;
	border-radius: 15px;
	box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.7);
    text-align: center;
}

#login-submit {
	display: block;
    width: 100%;
    margin-bottom: 15px;
}

#register-submit {
    width: 100%;
}

#register-form input {
    margin-bottom: 10px;
}

#shadow-popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}

#login-form input{
	margin-bottom: 10px;
}

button#send-message {
    margin-top: 10px;
	display: block;
}

#send-textarea {
    width: 100%;
    max-width: 100%;
}

#messages-panel {
    margin-top: 20px;
}