<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>tweet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Greeting</servlet-name>
    <servlet-class>com.tweet.services.servlets.GreetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Greeting</servlet-name>
    <url-pattern>/greeting</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<servlet-class>com.tweet.services.servlets.authentification.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.tweet.services.servlets.authentification.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.tweet.services.servlets.authentification.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>com.tweet.services.servlets.comments.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/comment/add</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetComment</servlet-name>
    <servlet-class>com.tweet.services.servlets.comments.GetCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComment</servlet-name>
    <url-pattern>/comment/get</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>com.tweet.services.servlets.friends.AddFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/friends/add</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GetFriends</servlet-name>
    <servlet-class>com.tweet.services.servlets.friends.GetFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFriends</servlet-name>
    <url-pattern>/friends/get</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RemoveFriend</servlet-name>
    <servlet-class>com.tweet.services.servlets.friends.RemoveFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFriend</servlet-name>
    <url-pattern>/friends/remove</url-pattern>
  </servlet-mapping>
</web-app>